Django>=2.2.3
# cobra requires ruamel.yaml.clib>=0.1.2,
# but in TUNA Pypi source, ruamel.yaml.clib<=0.1.0.
# Can use official source to install it.
cobra>=0.16.0
celery>=4.3.0
kombu>=4.6.3

fuzzywuzzy==0.17.0
pytz==2019.1
sqlparse==0.3.0
python-Levenshtein

django-cors-headers==3.0.2
django-haystack>=2.8.1
elasticsearch>=2.0.0,<3.0.0

flake8~=3.6.0
