{% extends 'base.html' %}

{% block title %}{{ reaction }}{% endblock title %}

{% block content %}

<form action="{% url 'cobra_wrapper:reaction_detail' reaction.pk %}" method="post">
{% csrf_token %}
    <table><tbody>
        <tr><td>id</td><td>{{ reaction.id }}</td></tr>
        <tr><td>cobra_id</td><td>{{ reaction.cobra_id }}</td><td>
            <input type="text" name="cobra_id" value="{{ reaction.cobra_id }}">
        </td></tr>
        <tr><td>name</td><td>{{ reaction.name }}</td><td>
            <input type="text" name="name" value="{{ reaction.name }}">
        </td></tr>
        <tr><td>subsystem</td><td>{{ reaction.subsystem }}</td><td>
            <input type="text" name="subsystem" value="{{ reaction.subsystem }}">
        </td></tr>
        <tr><td>lower_bound</td><td>{{ reaction.lower_bound }}</td><td>
            <input type="text" name="lower_bound" value="{{ reaction.lower_bound }}">
        </td></tr>
        <tr><td>upper_bound</td><td>
        {% if reaction.upper_bound %}
            {{ reaction.upper_bound }}
        {% else %}
            None
        {% endif %}
        </td><td>
            <input type="text" name="upper_bound" value="{% if reaction.upper_bound %}{{ reaction.upper_bound }}{% endif %}">
        </td></tr>
        <tr><td>objective_coefficient</td><td>{{ reaction.objective_coefficient }}</td><td>
            <input type="text" name="objective_coefficient" value="{{ reaction.objective_coefficient }}">
        </td></tr>
        <tr><td>metabolites and coefficients</td><td>[
        {% for metabolite, coefficient in reaction.metabolites_and_coefficients.items %}
            {% if not forloop.counter == 1 %}
            ,
            {% endif %}
            <a href="{% url 'cobra_wrapper:metabolite_detail' metabolite.pk %}">{{ metabolite }}</a>:
            {{ coefficient }}
        {% endfor %}
        ]</td></tr>
        <tr><td></td><td>metabolites</td><td>
            <select name="metabolites" multiple>
            {% for metabolite in related_models %}
                <option value="{{ metabolite.id }}">{{ metabolite }}</option>
            {% endfor %}
            </select>
        </td></tr>
        <tr><td></td><td>coefficients</td><td>
            <input type="text" name="coefficients" value="{{ reaction.coefficient }}">
        </td></tr>
        <tr><td>gene_reaction_rule</td><td>{{ reaction.gene_reaction_rule }}</td><td>
            <input type="text" name="gene_reaction_rule" value="{{ reaction.gene_reaction_rule }}">
        </td></tr>
        <tr><td></td><td>
            <button type="reset">reset</button>
        </td><td>
            <button type="submit">edit</button>
        </td></tr>
    </tbody></table>
    <input type="hidden" name="edit">
</form>
<form action="{% url 'cobra_wrapper:reaction_detail' reaction.pk %}" method="post">
{% csrf_token %}
    <input type="hidden" name="delete">
    <button type="submit">delete</button>
</form>

{% endblock content %}