{% extends "base.html" %}
{# TODO: a better place for this template #}
{% block title %}
Guide Book
{% endblock %}

{% block content %}
    <div class="banner w-100">
    <div class="container d-flex align-items-center">
      <div class="icon bg-info text-white d-flex justify-content-center align-items-center">
        <i class="fa fa-book fa-2x"></i>
      </div>
      <div class="des ml-3">
        <h5>Guide Book</h5>
        <div>How to use Foresyn?</div>
      </div>
    </div>
  </div>
  <div id="guide-book" class="container" style="padding: 0px"><br>
    <h3>Guide Book</h3>
    <br>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
{% endblock %}