{% extends "base.html" %}
{% block title %}
    My Pack
{% endblock %}

{% block content %}
    <div class="banner w-100">
        <div class="container d-flex align-items-center">
            <div class="icon bg-info text-white d-flex justify-content-center align-items-center">
                <i class="fa fa-star fa-2x"></i>
            </div>
            <div class="des ml-3">
                <h5>My Pack</h5>
                <div>Here contains things you like.</div>
            </div>
        </div>
    </div>
    <div class="container mt-4">
        <div class="row">
            <div class="left_index col-3">
                <ul class="list-group text-primary">
                    <a {% if counts.gene != 0 %} href="?type=gene" {% else %} href="#" {% endif %}
                                                 class="list-group-item {% if type == "gene" %} chosen {% endif %} {% if counts.gene == 0 %} disabled {% endif %}">Gene<span
                            class="badge badge-info badge-search">{{ counts.gene }}</span></a>
                    <a {% if counts.reaction != 0 %} href="?type=gene" {% else %} href="#" {% endif %}
                                                     class="list-group-item {% if type == "reaction" %} chosen {% endif %} {% if counts.reaction == 0 %} disabled {% endif %}">Reaction<span
                            class="badge badge-info badge-search">{{ counts.reaction }}</span></a>
                    <a {% if counts.metabolite != 0 %} href="?type=gene" {% else %} href="#" {% endif %}
                                                       class="list-group-item {% if type == "metabolite" %} chosen {% endif %} {% if counts.metabolite == 0 %} disabled {% endif %}">Metabolite<span
                            class="badge badge-info badge-search">{{ counts.metabolite }}</span></a>
                    <a {% if counts.model != 0 %} href="?type=gene" {% else %} href="#" {% endif %}
                                                  class="list-group-item {% if type == "model" %} chosen {% endif %} {% if counts.model == 0 %} disabled {% endif %}">Model (Database)<span
                            class="badge badge-info badge-search">{{ counts.model }}</span></a>
                    <a {% if counts.model != 0 %} href="?type=gene" {% else %} href="#" {% endif %}
                                                  class="list-group-item {% if type == "usermodel" %} chosen {% endif %} {% if counts.usermodel == 0 %} disabled {% endif %}">Model (User)<span
                            class="badge badge-info badge-search">{{ counts.usermodel }}</span></a>
                </ul>
            </div>
            <div class="right_content col-9">

                <h5 class="result_num">{{ this_cnt }} results</h5>
                <div class="list-group list-group-flush mb-5">
                    {% for item in queryset %}
                        <div href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <a class="mb-1" href="#"><h5>Gene Name</h5></a>
                                <a class="fa fa-star mr-2" href="#"></a>
                            </div>
                            <p class="mb-1">Some basic information here. For example, its ID, function and
                                chromosome.</p>
                            <small>Where it from?</small>
                        </div>
                    {% endfor %}
                </div>
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center mb-5">
                        <li class="page-item">
                            <a class="page-link" href="#" tabindex="-1">Previous</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item active"><a class="page-link" href="#">3</a></li>
                        <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
                        <li class="page-item"><a class="page-link" href="#">99</a></li>
                        <li class="page-item"><a class="page-link" href="#">100</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}