{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}
Sign up
{% endblock %}

{% block content %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

    <div class="container mt-4">
<form method="post" action="{% url 'accounts:signup' %}">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" value="Submit" class="btn btn-primary">
</form>
    </div>
{% endblock %}
