{% extends "base.html" %}

{% block title %}All Reactions{% endblock title %}

{% block content %}
{% for object in object_list %}
<table><tbody>
    <tr><td>id</td><td>{{ object.id }}</td></tr>
    <tr><td>cobra_id</td><td>{{ object.cobra_id }}</td></tr>
    <tr><td>name</td><td>{{ object.name }}</td></tr>
    <tr><td><a href="{% url "cobra_wrapper:cobrareaction_detail" object.pk %}">Detail</a></td></tr>
</tbody></table>
{% endfor %}

<a href="{% url "cobra_wrapper:cobrareaction_create_form" %}">Create</a>
{% endblock content %}