{% extends 'base.html' %}

{% block title %}{{ object }}{% endblock title %}

{% block content %}


    <ol>
        {% for change in changes %}
            <li>{{ change }}</li>
        {% endfor %}
    </ol>

    
    <div class="container mt-4">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header d-flex justify-content-between align-content-between">
            <h5 style="padding-top: 5px;">Metabolite: {{ object.id }}</h5>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
              <i class="fa fa-share-alt "></i>
            </button>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Share</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form>
                      <div class="form-group row">
                        <div class="col-12">
                          <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Share</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
              <h5 class="card-title">ID</h5>
              <p>{{ object.cobra_id }}</p>
              <h5 class="card-title">Name</h5>
              <p>{{ object.name }}</p>
              <h5 class="card-title">Formula</h5>
              <p>{{ object.formula }}</p>
              <h5 class="card-title">Charge</h5>
              <p>{{ object.charge }}</p>
          <h5 class="card-title">Compartment</h5>
          <p>{{ object.compartment }}</p>
            <br>
            <div class="row justify-content-around">
              <a class="col-2 btn btn-outline-light btn-side-circle text-hover-green" href="{% url 'cobra_wrapper:cobrametabolite_update_form' object.pk %}">Edit</a>
              <a class="col-2 btn btn-outline-light btn-side-circle text-hover-green" href="{% url 'cobra_wrapper:cobrametabolite_confirm_delete' object.pk %}">Delete</a>
            </div>
          </div>
        </div>
      </div>

    </div>
{% endblock content %}