{% extends 'base.html' %}

{% block title %}All Models{% endblock title %}

{% block content %}
<div class="container">
    <div class="d-flex flex-row flex-wrap">
        {% for object in object_list %}
        <div class="card-wrapper col-4 mb-4">
            <div class="card">
                <div class="card-header">
                    {{ object.name }}
                </div>
                <div class="card-body text-center">
                    <p class="model_info ">id: {{ object.id }}</p>
                    <p class="model_info">cobra_id: {{ object.cobra_id }}</p>
                    <p class="model_info card-link"><a href="{% url 'cobra_wrapper:cobramodel_detail' object.pk %}" class="btn btn-primary">See Detail</a></p>
                </div>
            </div>
        </div>

        {% endfor %}
        <div class="card-wrapper col-4 mb-4">
            <div class="card">
                <div class="card-body new">
                    <a href="{% url 'cobra_wrapper:cobramodel_create_form' %}" class="border-primary d-block new"></a>
                    <p class="text-primary">New Model</p>
                </div>
            </div>
        </div>

    </div>

</div>
<style>
    .container .card {height: 220px; transition: all ease-in-out .3s;}
    .container .card:hover {box-shadow: 10px 10px 5px #888888; }
    .container .card div.new{display: flex; align-items: center; align-content: center; justify-content: center; height: 100%; flex-direction: column;}
    .container a.new {height: 60px; width:60px; margin: 0 auto; background: url("/static/image/plus.svg") no-repeat center; background-size: 100% 100%; transition: all ease-in-out .3s;}
    .container div.new:hover a.new{transform: rotate(90deg);}
</style>

{% comment %}
    {% for object in object_list %}
        <table>
            <tbody>
            <tr>
                <td>id</td>
                <td>{{ object.id }}</td>
            </tr>
            <tr>
                <td>cobra_id</td>
                <td>{{ object.cobra_id }}</td>
            </tr>
            <tr>
                <td>name</td>
                <td>{{ object.name }}</td>
            </tr>
            <tr>
                <td><a href="{% url 'cobra_wrapper:cobramodel_detail' object.pk %}">Detail</a></td>
            </tr>
            </tbody>
        </table>
    {% endfor %}

    <a href="{% url 'cobra_wrapper:cobramodel_create_form' %}">Create</a>

{% endcomment %}
{% endblock content %}