{% extends 'base.html' %}

{% load cobra_wrapper_tags %}

{% block title %}FVA Result of {{ object }}{% endblock title %}

{% block content %}
    <table>
        <tr>
            <th>name</th>
            <th>maximum</th>
            <th>minimum</th>
        </tr>
        {% for name in result.maximum.keys %}
            <tr>
                <td>{{ name }}</td>
                <td>{{ result.maximum|get_dict_value_with_key:name }}</td>
                <td>{{ result.minimum|get_dict_value_with_key:name }}</td>
            </tr>
        {% endfor %}
    </table>

    <a href="{% url 'cobra_wrapper:cobrafva_list' model_pk %}">Return</a>
{% endblock content %}