{% extends 'base.html' %}

{% block title %}{{ object }}{% endblock title %}

{% block content %}
<table>
    <tbody>
        <tr><td>id</td><td>{{ object.id }}</td></tr>
        <tr><td>cobra_id</td><td>{{ object.cobra_id }}</td></tr>
        <tr><td>name</td><td>{{ object.name }}</td></tr>
        <tr><td>formula</td><td>{{ object.formula }}</td></tr>
        <tr><td>charge</td><td>{{ object.charge }}</td></tr>
        <tr><td>compartment</td><td>{{ object.compartment }}</td></tr>
    </tbody>
</table>

<a href="{% url 'cobra_wrapper:cobrametabolite_update_form' object.pk %}">Edit</a>

<a href="{% url 'cobra_wrapper:cobrametabolite_confirm_delete' object.pk %}">Delete</a>
{% endblock content %}