{% extends 'base.html' %}

{% load cobra_wrapper_tags %}
{% load mathfilters %}

{% block title %}FBA Result of {{ object }}{% endblock title %}

{% block content %}
    <table>
        <tr>
            <td>description</td>
            <td>{{ object.desc }}</td>
        </tr>
        <tr>
            <td>start_time</td>
            <td>{{ object.start_time }}</td>
        </tr>
        <tr>
            <td>model</td>
            <td><a href="{% url 'cobra_wrapper:cobramodel_detail' model_pk %}">{{ object.model }}</a></td>
        </tr>
    </table>

    <p>Status: {{ object|check_result_status }}</p>

    {% if result %}
        {% if result.ok %}
            <table>
                <tr>
                    <th>objective_value</th>
                    <td>{{ result.objective_value }}</td>
                    {% for fba in latest_fba_results %}
                        {% if fba.ok %}
                            <td>{{ result.objective_value }}({{ result.objective_value|sub:fba.objective_value }})</td>
                        {% endif %}
                    {% endfor %}
                </tr>
                <tr>
                    <th>status</th>
                    <td>{{ result.status }}</td>
                    {% for fba in latest_fba_results %}
                        {% if fba.ok %}
                            <td>{{ result.status }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
                <tr>
                    <td>fluxes</td>
                </tr>
                {% for name, value in result.fluxes.items %}
                    <tr>
                        <th>{{ name }}</th>
                        <td>{{ value }}</td>
                        {% for fba in latest_fba_results %}
                            {% if fba.ok %}
                                {% if name in fba.fluxes.keys %}
                                    <td>{{ fba.fluxes|access_dict:name }}({{ fba.fluxes|access_dict:name|sub:value }})</td>
                                {% else %}
                                    <td>none</td>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <div>{{ result }}</div>
        {% endif %}
    {% endif %}

    <a href="{% url 'cobra_wrapper:cobrafba_confirm_delete' model_pk object.pk %}">Delete</a>
    <a href="{% url 'cobra_wrapper:cobrafba_list' model_pk %}">Return</a>
{% endblock content %}