{% extends 'base.html' %}
{% load render_list_tag %}

{% block title %}
Gene: {{ gene.bigg_id }}
{% endblock %}

{% block content %}

<div id="content" class="container mt-4">
    <div class="w-100 d-flex justify-content-between">
      <h4>Gene: {{ gene.bigg_id }}</h4>
      <form method="post" action="{% url 'data_wrapper:add_models' %}">
        {% csrf_token %}
        <input type="number" name="model_pk" value="{{ model.id }}" hidden>
        <input type="submit" value="add to cobra">
      </form>
      <a href="#" data-toggle="modal" data-target="#exampleModal">
        <h5><i class="fa fa-star-o"></i></h5>
      </a>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Are You Sure</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Add the gene to your pack?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-info">Add</button>
          </div>
        </div>
      </div>
    </div>
    <table class="table table-hover table-bordered mt-3">
      <tbody>
        <tr>
          <td>BIGG ID</td>
          <td>{{ gene.bigg_id }}</td>
        </tr>
        <tr>
          <td>Descriptive name</td>
          <td>{{ gene.name }}</td>
        </tr>
        <tr>
          <td>Position</td>
          <td>{{ gene.leftpos }} ~ {{ gene.rightpos }}</td>
        </tr>
        <tr>
          <td>Strand</td>
          <td>{{ gene.strand }}</td>
        </tr>
        <tr>
          <td>Chromosome</td>
          <td>{{ gene.chromosome_ncbi_accession }}</td>
        </tr>
        <tr>
          <td>DNA Sequence</td>
          <td>{{ gene.dna_sequence }}</td>
        </tr>
        <tr>
          <td>Protein Sequence</td>
          <td>{{ gene.protein_sequence }}</td>
        </tr>
        {% if gene.database_links %}
        <tr>
          <td>External database links</td>
          <td>{% include 'bigg_database/db_links.html' with db_links=gene.database_links only %}</td>
        </tr>
        {% endif %}
        <tr>
          <td>Models Containing {{ gene.bigg_id }}</td>
          <td>{% render_list_tag gene.models.all 'model' 'model_gene_relationship_detail' id=gene.id reverse=True %}</td>
        </tr>
        <tr>
          <td>Reactions Containing {{ gene.bigg_id }}</td>
          <td>{% render_list_tag gene.reactions.all 'reaction' 'reaction_gene_relationship_detail' id=gene.id reverse=True %}</td>
        </tr>
      </tbody>
    </table>
  </div>
{% endblock %}
