<table class="table table-hover table-bordered mt-3">
    <thead>
        <tr>
            <th>BiGG ID</th>
            <th>Name</th>
            <th>Formulae</th>
            {% if contain_stoichiometry %}
            <th>Stoichiometry</th>
            {% endif %}
            {% if contain_organism %}
            <th>Organism</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for meta in list %}
        <tr>
            <th><a href="{{ meta.detail_url }}">{{ meta.bigg_id }}</a></th>
            <th>{{ meta.name }}</th>
            <th>{% if meta.formulae.0 %}{{ meta.formulae.0 }}{% endif %}</th>
            {% if contain_stoichiometry %}
            <th>{{ meta.stoichiometry }}</th>
            {% endif %}
            {% if contain_organism %}
            <th>{{ meta.organism }}</th>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>