{% extends 'base.html' %}

{% block title %}
<title>Metabolite: {{ meta.bigg_id }}</title>
{% endblock %}

{% block content %}

<h1>Metabolite: {{ meta.bigg_id }}</h1>

<h4>Descriptive name</h4>
<p>{{ meta.name }}</p>

<h4>Formulae</h4>
<p>{{ meta.formulae|join:', ' }}</p>

{% if meta.charges %}
<h4>Charges</h4>
<p>{{ meta.charges }}</p>
{% endif %}

{% if meta.database_links%}
<h4>External database links</h4>
{% include 'bigg_database/db_links.html' with db_links=meta.database_links only %}
{% endif %}

{% endblock %}
