<table>
    <thead>
    <tr>
        <th>BiGG ID</th>
        <th>Name</th>
        <th>Formulae</th>
        {% if contain_stoichiometry %}
        <th>Stoichiometry</th>
        {% endif %}
        {% if contain_organism %}
        <th>Organism</th>
        {% endif %}
    </tr>
    </thead>
    <tbody>
    {% for meta in list %}
    <tr>
        <th><a href="{{ meta.detail_url }}">{{ meta.bigg_id }}</a></th>
        <th>{{ meta.name }}</th>
        <th>{{ meta.formulae.0 }}</th>
        {% if contain_stoichiometry %}
        <th>{{ meta.stoichiometry }}</th>
        {% endif %}
        {% if contain_organism %}
        {{ meta.organism }}
        {% endif %}
    </tr>
    {% endfor %}
    </tbody>
</table>
