{% extends 'base.html' %}

{% block title %}
Model: {{ model.bigg_id }}
{% endblock %}

{% block content %}

<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>Model metrics</h3>
        </div>
        <div class="card-body">
            <table class="table table-hover table-borderless">
                <h4>Basic Info</h4>
                <tbody>
                <!-- Row clickable or count clickable? -->
                <tr>
                    <td scope="row">Reactions</td>
                    <td><a href="{% url 'bigg_database:reactions_in_model' model.id %}">{{ model.reaction_set.count }}</a></td>
                </tr>
                <tr>
                    <td scope="row">Metabolites</td>
                    <td><a href="{% url 'bigg_database:metabolites_in_model' model.id %}">{{ model.metabolite_set.count }}</a></td>
                </tr>
                <tr>
                    <td scope="row">Genes</td>
                    <td><a href="{% url 'bigg_database:genes_in_model' model.id %}">{{ model.gene_set.count }}</a></td>
                </tr>
                </tbody>
            </table>
            <hr>
            <h4>Add To Cobra</h4>
            <form method="post" action="{% url 'data_wrapper:add_models' %}">
                {% csrf_token %}
                <div class="form-group row">
                    <label for="Model ID" class="col-2 col-form-label">Model ID</label>
                    <div class="col-6">
                        <input id="Model ID" type="number" name="model_pk" value="{{ model.id }}" class="form-control" placeholder="your model id:" hidden>
                    </div>
                    <div class="col-3 d-flex justify-content-center">
                        <input type="submit" value="Add to Cobra" class="btn btn-primary">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% comment %}

<h4>Model metrics</h4>
<table>
    <thead>
    <tr>
        <th>Component</th>
        <th>Count</th>
    </tr>
    </thead>
    <tbody>
    <!-- Row clickable or count clickable? -->
    <tr>
        <td>Reactions</td>
        <td><a href="{% url 'bigg_database:reactions_in_model' model.id %}">{{ model.reaction_set.count }}</a></td>
    </tr>
    <tr>
        <td>Metabolites</td>
        <td><a href="{% url 'bigg_database:metabolites_in_model' model.id %}">{{ model.metabolite_set.count }}</a></td>
    </tr>
    <tr>
        <td>Genes</td>
        <td><a href="{% url 'bigg_database:genes_in_model' model.id %}">{{ model.gene_set.count }}</a></td>
    </tr>
    </tbody>
</table>

<form method="post" action="{% url 'data_wrapper:add_models' %}">
    {% csrf_token %}
    <input type="number" name="model_pk" value="{{ model.id }}" hidden>
    <input type="submit" value="add to cobra">
</form>

{% endcomment %}

{% endblock %}
