{% extends 'base.html' %}
{% load render_list_tag %}

{% block title %}
Metabolite {{to_model.bigg_id}}
{% endblock %}

{% block content %}

<div id="content" class="container mt-4">
    <div class="w-100 d-flex justify-content-between">
      <h4>Metabolite {{to_model.bigg_id}}</h4>
    </div>
    <table class="table table-hover table-bordered mt-3">
      <tbody>
        <tr>
          <td>Model</td>
          <td><a href="{% url 'bigg_database:model_detail' from_model.id %}">{{ from_model.bigg_id }}</a></td>
        </tr>
        <tr>
            <td>Descriptive name</td>
            <td>{{ to_model.name }}</td>
          </tr>
        <tr>
          <td>Formulae</td>
          <td>{{ to_model.formulae|join:', '}}</td>
        </tr>
        <tr>
          <td>Charges</td>
          <td>{{ to_model.charges }}</td>
        </tr>
        <tr>
          <td>Organism</td>
          <td>{{ to_model.organism }}</td>
        </tr>
        {% if gene.database_links %}
        <tr>
          <td>External database links</td>
          <td>{% include 'bigg_database/db_links.html' with db_links=meta.database_links only %}</td>
        </tr>
        {% endif %}
      </tbody>
    </table>
  </div>
{% endblock %}