{% extends 'bigg_database/item_base.html' %}
{% load render_list_tag %}
{% load favorite_tag %}
{% load static %}

{% block title %}
    Reaction: {{ reaction.bigg_id }}
{% endblock %}

{% block content %}
    <div id="content" class="container mt-4">
        <div class="w-100 d-flex justify-content-between">
            <h4>{{ reaction.name }} Reaction</h4>
            {% if user.is_authenticated %}
                <a href="#" data-toggle="modal" data-target="#exampleModal">
                    <h5>{% favorite_button reaction %}</h5>
                </a>
            {% endif %}
        </div>
        <table class="table table-hover table-bordered mt-3">
            <tbody>
            <tr>
                <td>BIGG ID</td>
                <td>{{ reaction.bigg_id }}</td>
            </tr>
            <tr>
                <td>Descriptive Name</td>
                <td>{{ reaction.name }}</td>
            </tr>
            <tr>
                <td>Reaction</td>
                <td>{{ reaction.reaction_string|safe }}</td>
            </tr>
            <tr>
                <td>Is pseudoreaction?</td>
                <td>
                  {% if reaction.pseudoreaction %}
                  √
                  {% else %}
                  X
                  {% endif %}
                </td>
            </tr>
            {% if reaction.database_links %}
                <tr>
                    <td>External Database Links</td>
                    <td>
                        {% include 'bigg_database/db_links.html' with db_links=reaction.database_links only %}
                    </td>
                </tr>
            {% endif %}
            <tr>
                <td><a href="{% url 'bigg_database:metabolites_in_reaction' reaction.id %}">
                    Related Metabolites</a></td>
                <td>
                    <p>{% render_list_tag reaction.metabolite_set.all 'metabolite' 'reaction_metabolite_relationship_detail' id=reaction.id %}</p>
                </td>
            </tr>
            <tr>
                <td><a href="{% url 'bigg_database:reaction_from_models' reaction.id %}">
                    Models Containing {{ reaction.bigg_id }}</a></td>
                <td>
                    {% render_list_tag reaction.models.all 'model' 'model_reaction_relationship_detail' id=reaction.id reverse=True %}
                </td>
            </tr>
            </tbody>
        </table>
        <form method="post" action="{% url 'data_wrapper:add_reactions' %}">
          {% csrf_token %}
          <div class="input-group mb-3">
            <select class="form-control">
                {% for user_model in user_models %}
                <option value="{{ user_model.id }}">{{ user_model.name }}</option>
                {% endfor %}
            </select>
            <input type="hidden" name="reaction_pk" value="{{ reaction.id }}">
            <div class="input-group-append">
              <button class="btn btn-outline-light text-hover-green" type="submit" id="submit-button">add to your model</button>
            </div>
          </div>
        </form>
    </div>

    <script src="{% static "javascript/favorite_button.js" %}"></script>
{% endblock %}
