{% extends "base.html" %}
{% load bigg_database_tags %}
{% load render_list_tag %}
{% block title %}
Relationship lookup for {{ from_model_name }}
{% endblock %}

{% block content %}
<h2>The {{ to_model_name }} in {{ from_model.bigg_id }}</h2>

{% if to_model_name == 'metabolite' %}
    {% if from_model_name == 'model' %}
        {% render_list_tag result_list 'metabolite' 'model_metabolite_relationship_detail' id=from_model.id contain_extra_info=True %}
    {% elif from_model_name == 'reaction' %}
        {% render_list_tag result_list 'metabolite' 'reaction_metabolite_relationship_detail' id=from_model.id contain_extra_info=True %}
    {% endif %}
{% elif to_model_name == 'reaction' %}
    {% render_list_tag result_list 'reaction' 'model_reaction_relationship_detail' id=from_model.id contain_extra_info=True %}
{% elif to_model_name == 'gene' %}
    {% if from_model_name == 'model' %}
        {% render_list_tag result_list 'gene' 'model_gene_relationship_detail' id=from_model.id contain_extra_info=True %}
    {% elif from_model_name == 'reaction' %}
        {% render_list_tag result_list 'gene' 'reaction_gene_relationship_detail' id=from_model.id contain_extra_info=True %}
    {% endif %}
{% endif %}
{% endblock %}