{% extends "base.html" %}

{% block title %}
Search
{% endblock %}

{% block content %}
<div class="search container d-flex flex-column justify-content-center">
    <div class="search-box mb-4">
        <h3 class="text-center">LOGO</h3>
        <form action="{% url 'bigg_database:search' %}" method="get">
            <div class="form-row">
                <div class="col-8 m-auto">
                    <div class="input-group">
                        <input id="id_q" name="q" required type="text" class="form-control" placeholder="Search Text">
                        <div class="input-group-append">
                            <input type="submit" class="btn btn-primary" value="Search">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<style>
    .search input.form-control:focus {box-shadow: none;}
    .search  {height: 400px;}
</style>

<!--<h2>Search</h2>-->

<!--<form method="get" action="{% url 'bigg_database:search' %}">-->
    <!--<p>-->
        <!--<label for="id_q">Search:</label>-->
        <!--<input id="id_q" type="search" name="q" required=true>-->
    <!--</p>-->
    <!--{% comment %}-->
    <!--
        <p><label>Search In</label></p>
        <ul id="id_models">
            <li>
                <label for="id_models_model">
                    <input id="id_models_model" type="checkbox" name="models" value="bigg_database.model">
                    Models
                </label>
            </li>
            <li>
                <label for="id_models_reaction">
                    <input id="id_models_reaction" type="checkbox" name="models" value="bigg_database.reaction">
                    Reactions
                </label>
            </li>
            <li>
                <label for="id_models_metabolite">
                    <input id="id_models_metabolite" type="checkbox" name="models" value="bigg_database.metabolite">
                    Metabolites
                </label>
            </li>
            <li>
                <label for="id_models_gene">
                    <input id="id_models_gene" type="checkbox" name="models" value="bigg_database.gene">
                    Genes
                </label>
            </li>
        </ul>
    -->
    <!--{% endcomment %}-->
    <!--<input type="submit" value="Search">-->
<!--</form>-->
{% endblock %}