{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}
Login
{% endblock %}

{% block content %}
    <link rel="stylesheet" href="/static/css/login.css">
    <div class="login">
        <div class="card text-dark bg-light">
            <div class="card-header text-center bg-info text-white">Log In</div>
            <div class="card-body">
                <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    <div class="mb-4 mt-4">
                        <div class="input-group w-75 m-auto">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-user fa-fw"></i></span>
                            </div>
{#                            <input type="text" name="username" class="form-control" placeholder="Username">#}
                            {{ form.username|as_crispy_field }}
                        </div>
                    </div>
                    <div class="mb-4">
                        <div class="input-group w-75 m-auto">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-lock fa-fw"></i></span>
                            </div>
{#                            <input type="password" name="password" class="form-control" placeholder="Password">#}
                            {{ form.password|as_crispy_field }}
                        </div>
                    </div>

                    <div class="input-group mb-3">
                        <input type="submit" value="Log In" class="btn btn-info m-auto">
                        <input type="hidden" name="next" value="{{ next }}">
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <span><a href="{% url 'accounts:signup' %}">Don't have an account?</a></span>
                <span class="float-right"><a href="{% url 'password_reset' %}">Lost password?</a></span>
            </div>
        </div>
    </div>
{% endblock %}

