{% extends "base.html" %}

{% block title %}
Change your password
{% endblock %}

{% block content %}
<div class="container">
    <div class="card w-75 m-auto">
        <div class="card-header">
            Password Change
        </div>
        <div class="card-body">
            <form action="" method="post">
                <div style="display:none">
                    <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
                </div>
                <div class="form-group row">
                    <label for="id_old_password" class="col-3 col-form-label">Old password</label>
                    <div class="col-9">
                        {{ form.old_password }}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="id_new_password1" class="col-3 col-form-label">New password</label>
                    <div class="col-9">
                        {{ form.new_password1 }}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="id_new_password2" class="col-3 col-form-label">Confirm password</label>
                    <div class="col-9">
                        {{ form.new_password2 }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 d-flex justify-content-center">
                        <input type="submit" value="Change my password" class="btn btn-primary"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $("div.form-group input").addClass("form-control")
</script>
{% comment %}
    <p>Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.</p>
    <form action="" method="post">
        <div style="display:none">
            <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
        </div>
        <table>
            <tr>
                <td>{{ form.old_password.errors }}
                    <label for="id_new_password1">Old password:</label></td>
                <td>{{ form.old_password }}</td>
            </tr>
            <tr>
                <td>{{ form.new_password1.errors }}
                    <label for="id_new_password1">New password:</label></td>
                <td>{{ form.new_password1 }}</td>
            </tr>
            <tr>
                <td>{{ form.new_password2.errors }}
                    <label for="id_new_password2">Confirm password:</label></td>
                <td>{{ form.new_password2 }}</td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Change my password" /></td>
            </tr>
        </table>
    </form>
{% endcomment %}
{% endblock %}