{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}
Change your password
{% endblock %}

{% block content %}
    <div class="container mt-4">
    <p>Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.</p>
    <form action="" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" value="Change my password" class="btn btn-primary"/>
    </form>
    </div>
{% endblock %}