{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Foresyn - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">

    <script src="{% static "javascript/jquery.min.js" %}"></script>

    <script src="{% static "javascript/popper.min.js" %}"></script>

    <script src="{% static "javascript/bootstrap.min.js" %}"></script>

    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">

    <link rel="stylesheet" href="{% static "css/mycss.css" %}">
</head>
<body>
{% if not ignore_header %}
    {% include "header.html" %}
{% endif %}
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    {% include "footer.html" %}
</body>
</html>