{% load static %}

<header>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-md navbar-dark" style="background-color: #20c997">
    <div class="container">
      <!-- Brand -->
      <span class="navbar-brand">
          <a href="/">
        <img src="{% static "image/logo.png" %}" style="height:30px">
          </a>
      </span>
      <form class="form-inline" action="{% url "bigg_database:search" %}">
        <input class="form-control form-control-sm mr-sm-2 form-circle" type="search" placeholder="  Search" aria-label="Search" name="q" value="{% if request.GET.q %}{{ request.GET.q }}{% endif %}">
      </form>

      <!-- Toggler/collapsibe Button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navbar links -->
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="nav navbar-nav">
          <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == "profile" %}active{% endif %}" href="{% url 'accounts:profile' %}">My Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if 'cobra' in request.resolver_match.url_name %}active{% endif %}" href="{% url 'cobra_wrapper:cobramodel_list' %}">My Models</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://2019.igem.org/Team:USTC-Software/Demonstrate">Guide Book</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == "pack" %}active{% endif %}" href="{% url 'accounts:pack' %}">My Pack</a>
          </li>
          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item nav-link text-black text-center" data-toggle="tab" href="#dropdown1">dropdown1</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item nav-link text-black text-center" data-toggle="tab" href="#dropdown2">dropdown2</a>
            </div>
          </li>  -->
        </ul>
        <div class="ml-auto">
          <span class="navbar-brand">
              {% if user.is_authenticated %}
            <img class="rounded" src="{% static "image/avatar.jpg" %}" style="height:30px">
            <a class="btn btn-outline-light btn-sm text-hover-green" href="{% url 'logout' %}">Logout</a>
              {% else %}
              <a class="btn btn-outline-light btn-sm text-hover-green" href="{% url 'login' %}">Login</a>
              {% endif %}
          </span>
        </div>
      </div>
    </div>
  </nav>
</header>