{% extends 'base.html' %}

{% block title %}All metabolites{% endblock title %}

{% block content %}

{% for metabolite in all %}
<table><tbody>
    <tr><td>id</td><td>{{ metabolite.id }}</td></tr>
    <tr><td>cobra_id</td><td>{{ metabolite.cobra_id }}</td></tr>
    <tr><td>name</td><td>{{ metabolite.name }}</td></tr>
    <tr><td><a href="{% url 'cobra_wrapper:metabolite_detail' metabolite.pk %}">see detail</a></td></tr>
</tbody></table>
{% endfor %}

<a href="{% url 'cobra_wrapper:metabolite_new' %}">new</a>

{% endblock content %}